body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
}
h1{
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  background: url(bg.jpg) 50% 50%;
  background-size: cover;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
}
