*{
    margin:0;
    padding:0;
}
.container
{
    position: relative;
    width:100%;
    height:100vh;
    background:#000;
}

.container img
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    object-fit:cover;
}

.container img:nth-child(2)
{
    mix-blend-mode: multiply;
}
