*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.view0--active {
  background: #ff885d;
}
.view0--active .default-color {
  background: #ff885d;
}
.view1--active {
  background: #acd8aa;
}
.view1--active .default-color {
  background: #acd8aa;
}
.view2--active {
  background: #94b9af;
}
.view2--active .default-color {
  background: #94b9af;
}
.view3--active {
  background: #06d6a0;
}
.view3--active .default-color {
  background: #06d6a0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.modal {
  height: 400px;
  width: 700px;
  border-radius: 5px;
  position: relative;
}
.modal__body {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 38px 0 rgba(0,0,0,0.53);
  position: relative;
  overflow: hidden;
}
.nav {
  left: 40px;
  bottom: -40px;
  width: 80px;
  height: 40px;
  position: absolute;
  box-shadow: 0 0 38px 0 rgba(0,0,0,0.53);
  transform: translateY(-30px);
  opacity: 0;
  animation: nav-animation 0.5s 1s ease forwards;
  transition: 0.5s;
}
.nav .nav-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.nav .prev {
  left: 0;
}
.nav .prev:hover {
  transform: translateX(-2px);
}
.nav .next {
  right: 0;
}
.nav .next:hover {
  transform: translateX(2px);
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 30px 140px 40px 50px;
  color: #ececec;
  background: #333;
}
.content h1 {
  padding-top: 20px;
  font-family: 'Caesar Dressing';
  transform: translateY(-20px);
  opacity: 0;
  animation: animate-text-down 1s 0.6s forwards;
  transition: 0.5s;
}
.content p {
  font-family: 'Open Sans Condensed';
  font-size: 18px;
  padding-top: 30px;
  transform: translateY(-20px);
  opacity: 0;
  animation: animate-text-down 1s 0.9s forwards;
  transition: 0.5s;
}
.circ {
  width: 300px;
  height: 300px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -150px;
  right: -150px;
  z-index: 10;
  animation: main-circ 6s ease forwards infinite;
  transition: 0.5s;
}
.circ > div {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
}
.circ1 {
  width: 100px;
  height: 100px;
  animation: scale-circ ease 0.6s forwards;
}
.circ2 {
  width: 200px;
  height: 200px;
  background-color: #fff;
  animation: scale-circ ease 0.6s 0.2s forwards;
}
.circ3 {
  width: 300px;
  height: 300px;
  animation: scale-circ ease 0.6s 0.4s forwards;
}
.tt {
  transition: 0.4s;
}
body .fade-out .tt {
  opacity: 0;
  transform: translateY(-20px);
}
body .fade-out .circ {
  opacity: 0;
  transform: scale(0.5);
}
@-moz-keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-circ {
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
@-o-keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes nav-animation {
  to {
    transform: none;
    opacity: 1;
  }
}
