*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  text-decoration: none;
}

.full-screen{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content a{
  display: block;
  margin: 50px auto;
  width: 250px;
  height: 54px;
  line-height: 54px;
  background: #ff4655;
  text-align: center;
  color: #ececec;
  text-transform: uppercase;
  font-weight: 500;
  transition: .4s linear;
}

.content a:hover{
  background: #0f1923;
}
